%h1 Listing republicas

%table
  %tr
    %th Nome
    %th
    %th
    %th

  - @republicas.each do |republica|
    %tr
      %td= republica.nome
      %td= link_to 'Show', republica

%br

= link_to 'New Republica', new_republica_path
