%p
  %b Nome:
  = @republica.nome

%ul.nav.nav-pills
  %li.active
    %a{"data-toggle" => "tab", :href => "#tab1"} Moradores
  %li
    %a{"data-toggle" => "tab", :href => "#tab2"} Faturas

.tab-content
  #tab1.tab-pane.active
    = render @republica.moradores
  #tab2.tab-pane
    = render @republica.faturas

