%p
  %b Nome:
  = @republica.nome

%fieldset
  %legend Moradores

  - @republica.moradores.each do |morador|
    %p
      %b Email:
      = morador.email
= button_to 'Entrar para a republica.', action: 'receber_morador'
= link_to 'Back', republicas_path
