%fieldset
  %legend Conta
  
  - if conta.user
    %p
      %b Morador:
      = conta.user.email
  %p
    %b Nome:
    = conta.nome
  %p
    %b Valor:
    = conta.valor
  - if conta.descricao
    %p
      %b Descrição
      = conta.descricao