%h1 Bem vindo!!
%p Esta cansado de fazer as contas da sua republica na mão!? 
%p 
  Seus Problemas 
  %b ACABARAM!

%p 
  %a.btn.btn-primary.btn-large(href= new_user_registration_path)
    Cadastre-se Agora!