%h1 Bem vindo!!
%p Esta cansado de fazer as contas da sua republica na mão!? 
%p 
  Seus Problemas 
  %b ACABARAM!
%p 
  %a.btn.btn-primary.btn-large(href= 'https://github.com/henrique2010/republica2pay')
    Quer ajudar melhorar ou relatar problemas? - Github
    
ps: Aceito ajuda no layout!