!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h2
      = @grupo.nome + ' - Cituação de Debito'
      %br/
    = render @grupo.moradores